/* CSS Data for Match Item */

.game-trade-matches{
    display: flex;
    background-color: #E9E9E9;
    flex-direction: column;
    width: 25em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #dcd7e6;
    margin: 1em;
  }

.center-matches{
  display: flex;
  justify-content: center;
}

.matches-game-cover{
  height: 10em;
}

.post-info-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

