/* CSS Data for Match Item */

.game-trade-matches {
  display: flex;
  background-color: #e9e9e9;
  flex-direction: column;
  width: 25em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px #dcd7e6;
  /* margin: 1em; */
}

.game-trade-matches:hover {
  background-color: #cccccc;
}

.center-matches {
  display: flex;
  justify-content: center;
}

.matches-game-cover {
  height: 10em;
}

.post-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matchBox {
  padding-left: 45px;
  margin-top: 25px;
}

.userIcon {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}