/* CSS Page for Messages.tsx */

.user-item-body-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-item-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    width: 24em;
    height: 10em;
}

.user-item-row:hover{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    width: 24em;
    height: 10em;
    cursor: pointer;
}

.star-rating-row{
    width: 15em;
}

.users-col{
    border-right: solid 2px;
    height: 85vh;
}

.messages{
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.message-to{
    display: flex;
    margin-right: 0;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background-color: #420D98;
    border-radius: 1em;
   color: #FFFFFF;
    height: 8em;
    width: 24em;
    padding: 1em;
}

.message-from{
    display: flex;
    margin-left: 0;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 1em;
    color: #000000;
    height: 8em;
    width: 24em;
    padding: 1em;
}

.message-send-btn{
    display: flex;
    background-color: #FFFFFF;
    border: solid 1px;
    border-radius: 5em;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
}

.message-send-btn:hover{
    display: flex;
    background-color: #e6e6e6;
    border: solid 1px;
    border-radius: 5em;
    width: 2.5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .message-send-btn-icon{
    color: #FFFFFF;
    background-color: #000000;
} */