@font-face {
  font-family: Inter;
  src: url(./Assets/Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Non-default CSS Code below */

.gameswap-title{
  display: flex;
  color: #FFFFFF;
}

.gameswap-title:hover{
  display: flex;
  color: #c9c9c9;
  cursor:pointer;
}

.header-and-description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30em;
  padding: 2em;
}

.trending-row{
  display: flex;
  flex-direction: column;
  background-color: #420D98;
  color: #FFFFFF;

}

.hero-bg-home{
  background-image: url(./Assets/Images/homePageBg.png);
  color: #FFFFFF;
  height: 30em;
  background-size: cover;
}

/* .background-image-underlay{
  background-color: #1E1E1E;
} */

.game-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-row-item{
  display: flex;
  justify-content: center;
  
}

.game-information-col{
  padding-top: 3.5em;
}

.title-release-date{
  color: #FFFFFF;
}

.hero-bg-add-game{
  /* background-image: url(./Assets/Images/homePageBg.png); */
  /* color: #FFFFFF; */
  height: 20em;
  /* background-size: cover; */
  margin-bottom: -13em;
}

.would-trade{
  padding: 2em 0em 0em 0em;
}

.game-cover-placeholder{
  height: auto;
  width: auto;
}


.game-cover-placeholder:hover{
  opacity: 0.4;
  width: auto;
  cursor: pointer;
}

.game-cover-section{
  margin-top: -5em;
}

.image-darken:hover{
  /* background-color: #000000; */
  background-image: linear-gradient(to top,#000000, #626262);
  width: fit-content;
}

.image-darken:hover + .add-to-wishlist {
  opacity: 100%;
  color: #FFFFFF;
}

.platforms-dropdown-items{
  position: absolute;
  list-style-type: none;
  background-color: #FFFFFF;
  border: 1px solid #d1d1d1;
  border-radius: 0.5em;
}

.platforms-dropdown-item{
  outline: none;
  border: none;
  padding: none;
  background-color: rgba(0, 0, 0, 0%);
}

.platforms-dropdown-item:hover{
  outline: none;
  border: none;
  padding: none;
  background-color: rgb(199, 199, 199);
}

/* .image-darken:hover + .wishlist-dropdown {
  opacity: 100%;
} */

.add-to-wishlist{
  opacity: 0;
  color: #FFFFFF;
  margin-top: -6em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.wishlist-dropdown{
  display: flex;
  margin: -0.5em 0em 0em 0em;
  justify-content: center;
  /* opacity: 50%; */
}

.game-info-text{
  display: flex;
  margin: 3em 0em 0em 0em;
  flex-direction: column;
}

.add-visible{
  opacity: 100%;
  color: #FFFFFF;
}

.add-to-wishlist:hover{
  opacity: 1;
  color: #FFFFFF;
}

.hover-overlay-effect{
  height: 100%;
  width: 100%;
  background-color: #340879;
  opacity: 0;
  position: absolute;
}

.wish-list-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-with-overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.image-with-overlay:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: left;
}

.game-info-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* .game-match{
  margin: 1em;
} */

.game-matches-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.message-row{
  display: flex;
  flex-direction: column;
}

.star-rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* * * * * * * * * Button Styles * * * * * * * * */

.join-btn{
  display: flex;
  background-color: #420D98;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.join-btn:hover{
  display: flex;
  background-color: #340879;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
  transition: ease-in-out 100ms;
}

.platforms-dropdown-btn{
  display: flex;
  background-color: rgba(0, 0, 0, 0%);
  border: 3px solid white;
  color: #FFFFFF;
  /* border: none; */
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin-top: -30px;
}

.searchResult:hover {
  cursor: pointer;
}

.bannerImg {
  width: 100%;
  height: 21em;
  /* background-image: url(./Assets/Images/homePageBg.png); */
  /* background-size: 110%; */
  position: absolute;
  left: -1px;
  right: 0;
  top: -1em;
  z-index: -1;
  overflow: hidden;
}