@font-face {
  font-family: Inter;
  src: url(./Assets/Fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Non-default CSS Code below */

.title-and-login-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
  padding: 2em;
}

.header-and-description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30em;
  padding: 2em;
}

.new-releases-row{
  display: flex;
  flex-direction: column;
}

.trending-row{
  display: flex;
  flex-direction: column;
  background-color: #420D98;
  color: #FFFFFF;

}

.hero-bg-home{
  background-image: url(./Assets/Images/homePageBg.png);
  color: #FFFFFF;
  height: 30em;
  background-size: cover;
}

.login-btn{
  display: flex;
  justify-content: right;
}

.signup-page-text{
  background-color: rgba(30, 30, 30, 85%);
  margin: inherit;
  height: 100%;
}

.signup-hero-bg{
  background-image: url(./Assets/Images/Login\ BG.jpg);
  background-size: cover;
}

.signup-page-sections{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.for-gamers{
  color: #AB83ED;
}

.hero-txt{
  display: flex;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  
}

.signup-par{
  width: 13em;
}

/* .background-image-underlay{
  background-color: #1E1E1E;
} */

.form-section{
  background-color: #FFFFFF;
  height: 46em;
}

.game-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.test-btn{
  display: flex;
  background-color: #420D98;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.test-btn:hover{
  display: flex;
  background-color: #340879;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.join-btn{
  display: flex;
  background-color: #420D98;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
}

.join-btn:hover{
  display: flex;
  background-color: #340879;
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.hero-bg-add-game{
  background-image: url(./Assets/Images/homePageBg.png);
  color: #FFFFFF;
  height: 20em;
  background-size: cover;
}

.game-cover-placeholder{
  height: 15em;
}

.game-info-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-bg-matches{
  background-image: url(./Assets/Images/homePageBg.png);
  color: #FFFFFF;
  height: 20em;
  background-size: cover;
}

.matches-game-cover{
  height: 10em;
}

.game-trade-matches{
  background-color: #E9E9E9;
}